.Navitem {
    padding-left: 4rem;
    
    a {
        font-size: 1.3rem;
        text-decoration: none;
        color: var(--main-brown);
        transition: color 500ms;
        
        &.active {
            color: var(--main-blue)
        }
    }

    a:hover {
        color: var(--main-blue)
    }
}